<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cy.store.mapper.UserMapper">

    <!--
        id属性：表示映射接口中方法名称，直接在标签内部编写SQL语句
        useGeneratedKeys:开启某个字段的值递增
        keyProperty：指定递增字段
    -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        insert into t_user(uid, username password,
        salt, phone, email, gender, avatar, is_delete, created_user,
        created_time, modified_user, modified_time) values {
        #{uid}, #{username}, #{password},
        #{salt}, #{phone}, #{email}, #{gender}, #{avatar}, #{isDelete}, #{createdUser},
        #{createdTime}, #{createdTime}, #{modifiedTime}
        }
    </insert>
    <!--
        resultType:表示查询结果集类型
        resultMap:标签当表的资源与类对象属性的字段名称不一致时，来自定义查询结果集的映射规则
    -->
    <select id="findByUsername" resultType="com.cy.store.entity.User">
        select * from t_user where username = #{username}
    </select>

</mapper>